<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="cakes.css" rel="stylesheet" type="text/css" />
</head>
<body>
<center> 
    <h1> Cakes </h1> 
<br>
  <% @@cakesArray.each do |cake|%>
    <h2> <%= cake.name_of_cake %> </h2>
        <img class="cakeS" src="<%= cake.image_cake %>">
        <h3> <%= cake.description %> </h3>
        <h3> <%= cake.price %> </h3>
   <%end %> 
</center>    
</body>
</html>
