<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="cookies.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <center> 
    <h1> Cookies </h1> 
  </center>
  <% @@cookiesArray.each do |cookie|%>
    <h2> <%= cookie.name_of_cookie %> </h2>
        <img class="cookieS" src=" <%= cookie.image_cookie %>">
        <h3> <%= cookie.description %> </h3>
        <h3> <%= cookie.price %> </h3>
   <%end %>     
</body>
</html>
