<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Friendly Bakery</title>
        <link href="main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <center> <h1> Nana's Bakery </h1> </center>
        <header>
            <div class="mainNav">
                <ul>
                    <li> <div id="goodieNav"> <a href="#FRIENDLYGOODIES"> FRIENDLY GOODIES: </a></div></li>
                    <li> <a href="/cookies">Cookies</a></li>
                    <li> <a href="/cakes">Cakes</a></li>
                    <li> <a href="/muffins">Muffins</a></li>
                </ul>
            </div>

        </header>



        <script src="script.js"></script>
    </body>

</html>














