<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href= "muffins.css" rel="stylesheet" type="text/css" />
</head>
<body>
<center> 
    <h1> Muffins </h1> 
<br>
  <% @@muffinsArray.each do |muffin|%>
    <h2> <%= muffin.name_of_muffin %> </h2>
        <img class="muffinS" src="<%= muffin.image_muffin %>">
        <h3> <%= muffin.description %> </h3>
        <h3> <%= muffin.price %> </h3>
   <%end %> 
</center>    
    
</body>
</html>
