
h1{
color: rgb(134, 54, 7);
font-size: 8em;
}

h2{
color: rgb(134, 54, 7);
font-size: 5em;
text-decoration: underline;
}

h3{
color:rgb(134, 54, 7);
font-size:3em;
}

.cookieS{
    width: 300px;
    height: 300px;
}
body{
    background-image:url('bkcookie.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
    
}
